{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "react-loadable/babel"
  ],
  "env": {
    "server": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
