{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "env": {
    "server": {
      "plugins": [
        "dynamic-import-node"
      ]
    },
    "client": {
      "plugins": [
        "react-loadable/babel"
      ]
    }
  }
}
